@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body { height: 100%; overflow: hidden; }
body { font-family: 'Inter', sans-serif; font-size: 13px; color: #FFF; padding: 0px; margin: 0px; background-color: #171d20; }
main { display: grid; height: 100vh; grid-template-columns: 240px 1fr; }
main .collapsed { display: grid; height: 100%; min-height: 100%; grid-template-columns: 70px 1fr; }
main .menu { background-color: #2c3235; }
main .body { display: grid; grid-template-rows: auto minmax(0, 1fr) auto; min-height: 0; background-color: #171d20; }
main .menu .header { width: auto; background-color: #5b5f62; border-bottom: 1px solid #B2B2B2; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35); padding: 0; overflow: hidden; }
main .menu .header .grid { display: grid; grid-template-columns: 1fr auto; align-items: stretch; height: 100%; }
main .menu .header .grid .left { display: flex; align-items: center; justify-content: flex-start; padding: 0 20px; gap: 10px; position: relative; }
main .menu .header .grid .left i { margin-right: 0px; }
main .menu .header .grid > .left, main .menu .header .grid > .right { display: flex; align-items: center; height: 100%; }
main .menu .header .grid > .right { position: relative; padding: 0 10px; }
main .menu .header .grid > .right::before { content: ""; position: absolute; left: 0; top: 0; bottom: 0; width: 1px; background: #B2B2B2; opacity: .9; }
main .body .header { width: auto; background-color: #171d20; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); padding: 16px 30px; }
main .body .header .grid { display: grid; grid-template-columns: auto auto; gap: 20px; align-items: center; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.menu-links i { margin-right: 12px; }
.menu-links-divider { border-top: 1px solid #B2B2B2; margin-top: 20px; margin-bottom: 20px; }
main .body footer { position: static !important; top: auto !important; bottom: auto !important; width: 100%; box-sizing: border-box; position: absolute; background-color: #282828; padding: 12px 0; font-size: 11px; }
main .body .scroller { min-height: 0; overflow-y: auto; padding-top: 30px; scrollbar-gutter: stable; padding-bottom: 30px; }
.floater { width: 1300px; min-width: 1300px; margin: 0 auto; }
main .body footer .grid { display: grid; grid-template-columns: 1fr 1fr 1fr; align-items: center; gap: 20px; }
main .body footer .grid .right { text-align: right; }
main .body .scroller::-webkit-scrollbar { width: 12px; }
main .body .scroller::-webkit-scrollbar-track { background: #1e2326; }
main .body .scroller::-webkit-scrollbar-thumb { background-color: #4c5154; border-radius: 6px; border: 3px solid #1e2326; }
main .body .scroller::-webkit-scrollbar-thumb:hover { background-color: #666b6f; }
main .body .scroller { scrollbar-width: auto; scrollbar-color: #4c5154 #1e2326; }
.tooltip { position: relative; white-space: nowrap; }
.tooltip::before, .tooltip::after { position: absolute; opacity: 0; visibility: hidden; transition: opacity .3s ease-in-out; }
.tooltip:hover::before, .tooltip:hover::after { opacity: 1; visibility: visible; font-size: 13px; }
.tooltip::before { content: attr(data-title); z-index: 2; width: fit-content; color: #fff; font-weight: normal; background: rgba(0,0,0, .8); border-radius: 5px; padding: 5px; } 
.tooltip::after { content: ""; width: 0; height: 0; }
.tooltip--top::before, .tooltip--top::after { bottom: 100%; left: 50%; transform: translate(-50%); margin-bottom: 15px; }
.tooltip--top::after { margin-bottom: 8px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 7px solid rgba(0,0,0, .8); }
.tooltip--bottom::before, .tooltip--bottom::after { top: 100%; left: 50%; transform: translate(-50%); margin-top: 15px; }
.tooltip--bottom::after { margin-top: 8px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 7px solid rgba(0,0,0, .8); } 
.tooltip--right::before, .tooltip--right::after { top: 50%; left: 100%; transform: translate(0, -50%); margin-left: 15px; }
.tooltip--right::after { margin-left: 8px; border-top: 5px solid transparent; border-right: 7px solid rgba(0,0,0, .8); border-bottom: 5px solid transparent; }  
.tooltip--left::before, .tooltip--left::after { top: 50%; right: 100%; transform: translate(0, -50%); margin-right: 15px; }
.tooltip--left::after { margin-right: 8px; border-top: 5px solid transparent; border-left: 7px solid rgba(0,0,0, .8); border-bottom: 5px solid transparent; }
.main-grid-full { display: grid; grid-template-columns: 280px 1fr 280px; gap: 20px; }
.main-grid-left-no-right { display: grid; grid-template-columns: 280px 1fr; gap: 20px; }
.main-grid-right-no-left { display: grid; grid-template-columns: 1fr 280px; gap: 20px; }
.main-grid-left, .main-grid-right { vertical-align: top; }
.widget { width: auto; border-radius: 8px; background-color: #2c3235; border: 1px solid #4B5B63; }
.widget .hdr { width: auto; border-radius: 5px 5px 0 0; padding: 12px; font-weight: 700; font-size: 14px; border-bottom: 1px solid #4B5B63; }
.widget .bdy { width: auto; padding: 12px; border-top: 1px solid #4B5B63; }
.widget .hdr + .bdy { border-top: 0; }
.category-header { width: auto; border-radius: 8px 8px 0 0; background-color: #2c3235; padding: 20px 20px; border-left: 1px solid #4B5B63; border-right: 1px solid #4B5B63; border-top: 1px solid #4B5B63; }
.category-header .title { font-weight: 500; font-size: 18px; }
.bar-margin-bottom { width: auto; margin-bottom: 20px; }
.dual-grid { display: grid; grid-template-columns: auto auto; gap: 20px; }
.dual-grid-centered { display: grid; grid-template-columns: auto auto; gap: 20px; align-items: center; }
.page-title { font-size: 24px; font-weight: 700; }
.forum-color-bar { width: auto; height: 5px; background-color: var(--forum-color); min-height: 5px; }
.forum-box { display: grid; grid-template-columns: 30% 1fr; border-left: 1px solid #4B5B63; border-right: 1px solid #4B5B63; border-bottom: 1px solid #4B5B63; background-color: #2c3235; }
.forum-box.last { border-radius: 0 0 8px 8px; }
.forum-box .left { border-right: 1px solid #4B5B63; padding: 20px; transition: 0.5s ease all; }
.forum-box .left .grid { display: grid; grid-template-rows: auto auto auto auto; gap: 14px; }
.forum-box .left .grid .image-box { width: 100%; height: 150px; border-radius: 8px; overflow: hidden; object-fit: cover; object-position: center; }
.forum-box .left .grid .image-box img { width: 100%; height: 100%; }
.forum-box .left .grid .desc { color: #A3A3A3; }
.forum-box .left .grid .stats { color: #d0e3ff; font-size: 12px; font-weight: 300; }
.forum-box .left .grid .stats strong { font-weight: 800; }
.forum-box .left .grid .stats span { margin-right: 20px; }
.forum-box .left .grid .stats span:first-of-type { margin-left: 0; }
.forum-box .right .topic { border-top: 1px solid #4B5B63; padding: 20px; }
.forum-box .right .topic:first-of-type { border-top: 0; }
.forum-box .left:hover { background-color: rgba(255, 255, 255, 0.07); transition: 0.5s ease all; cursor: pointer; }
.forum-box .right .topic:hover { background-color: rgba(255, 255, 255, 0.07); transition: 0.5s ease all; cursor: pointer; }
.forum-box .right .topic .grid { display: grid; grid-template-columns: auto 1fr; gap: 14px; align-items: center; }
.forum-box .right .topic .grid .inner { display: grid; grid-template-rows: auto auto; gap: 4px; }
.forum-box .right .topic .grid .inner .text { font-size: 12px; }
.forum-box .right .topic .grid .inner .grayed { color: #A3A3A3; }
.forum-box .right .topic .grid .inner .text i { margin-right: 4px; }
.photo { width: 100px; height: 100px; border-radius: 50%; overflow: hidden; display: flex; justify-content: center; align-items: center; }
.photo img { width: 100%; height: 100%; display: block; object-fit: cover; }
.photo-thumbnail { width: 30px; height: 30px; border-radius: 50%; overflow: hidden; display: flex; justify-content: center; align-items: center; }
.photo-thumbnail img { width: 100%; height: 100%; display: block; object-fit: cover; }
.no-photo { width:100px; height: 100px; border-radius: 50%; background-color: var(--bgcolor); display: flex; justify-content: center; align-items: center; font-size: 90px; color: var(--textcolor); }
.no-photo-thumbnail { width: 40px; height: 40px; border-radius: 50%; background-color: var(--bgcolor); display: flex; justify-content: center; align-items: center; font-size: 32px; color: var(--textcolor); }
.no-photo-thumbnail-small { width: 24px; height: 24px; border-radius: 50%; background-color: attr(data-bg); display: flex; justify-content: center; align-items: center; font-size: 32px; color: attr(data-text); }
.no-photo-small-thumbnail { width: 30px; height: 30px; border-radius: 50%; background-color: attr(data-bg); display: flex; justify-content: center; align-items: center; font-size: 32px; color: attr(data-text); }
.no-photo-small-thumbnail-small { width: 24px; height: 24px; border-radius: 50%; background-color: attr(data-bg); display: flex; justify-content: center; align-items: center; font-size: 32px; color: attr(data-text); }