<div class="bar-margin-bottom page-title">Forums</div>
<div class="category-header" data-icon="category-1-icon" onmouseenter="categoryToggleOnHover(this);" onmouseleave="categoryToggleOffHover(this);">
    <div class="dual-grid-centered">
        <div class="title">
            <a href="/">Category Name</a>
        </div>
        <div class="align-right category-toggle">
            <a href="javascript:void(0)" class="tooltip tooltip--top" data-title="Toggle this category" id="category-1-icon"><i class="fa-solid fa-toggle-on"></i></a>
        </div>
    </div>
</div>
<div class="forum-color-bar" style="--forum-color: #1ABE71;"></div>
<div class="forum-box last">
    <div class="left">
        <div class="grid">
            <div class="image-box">
                <img src="<%= imagesetUrl %>/images/forum-images/discussion.png" alt="*">
            </div>
            <div class="forum-title" style="--forum-color: #1ABE71;"><a href="/">Forum Name Here</a></div>
            <div class="desc">The forum description will go right here. It can span multiple lines if needed.</div>
            <div class="stats">
                <span><strong>11.3K</strong> topics</span>
                <span><strong>23.5K</strong> replies</span>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="topic">
            <div class="grid">
                <div>
                    <span class="photo-thumbnail"><img src="<%= baseUrl %>/uploads/profile-photos/1/1.jpg" alt="*"></span>
                </div>
                <div>
                    <div class="inner">
                        <div class="top"><a href="/">The name of the topic goes here</a></div>
                        <div>
                            <div class="dual-grid-centered">
                                <div class="text"><a href="/">Sam Wilcox</a> - <span class="grayed">42 minutes ago</span></div>
                                <div class="align-right text grayed"><i class="fa-solid fa-comment"></i><strong>43</strong> replies</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>